<header class="bg-dark pt-10">
  <div class="container">
    <ul class="d-flex justify-between">
      <li class="me-61">WILLIAM LEE</li>
      <li class="me-61">BASED IN TAIWAN</li>
      <li class="me-61">CURRENTLY FRONT END<br/>ENGINEER AT HEXSCHOOL</li>
      <li><a target="_blank" href="mailto:">CONTACT ME</a></li>
    </ul>
  </div>
</header>