<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-dark">
      <div class="container pt-18 pb-18 d-flex align-items-center">
        <img
          class="me-6"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true"
          alt="WILLIAM LEE照片"
        />
        <div class="d-flex flex-column">
          <p class="h2 upper-case">Hi<br />I’m a front-end developer</p>
          <h1 class="h1 align-self-end">William</h1>
          <a class="btn bg-light align-self-end" target="_blank" href="mailto:"
            >contact me
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward.png?raw=true"
              alt="arrow"
          /></a>
        </div>
      </div>
    </section>

    <!-- introduction -->
    <section class="intro bg-dark pt-40 pb-40">
      <div class="container d-flex">
        <div>
          <h2 class="h2">Introduction</h2>
          <p class="fs-1 w-526 mt-9">
            Hi, I'm William Lee, a Front-End Developer with a passion for
            building beautiful and responsive websites that provide an optimal
            user experience.
          </p>
          <div class="mt-8">
            <img
            class="me-6"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true"
              alt="sparkle"
            /><img
            class="me-6"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true"
              alt="sparkle"
            /><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true"
              alt="sparkle"
            />
          </div>
        </div>
        <div>
          <img
            class="me-6"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle.png?raw=true"
            alt="sparkle.png"
          />
          <img
            class="me-6"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/photographer.png?raw=true"
            alt="photographer"
          />
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people-2.png?raw=true"
            alt="人摀著嘴圖片"
          />
        </div>
      </div>
    </section>
    <!-- about me -->
    <div class="container d-flex align-items-center pt-40 pb-40">
      <div class="about-list">
        <ul class="d-flex flex-wrap">
          <li class="me-6">
            <h3 class="fs-2">01<br />Attention to Detail</h3>
            <p>Meticulous code analysis and optimization.</p>
          </li>
          <li>
            <h3 class="fs-2">02<br />Adaptability</h3>
            <p>Swift learning of new technologies.</p>
          </li>
          <li class="me-6 mt-6">
            <h3 class="fs-2">03<br />Problem Solver</h3>
            <p>Identifying and resolving issues.</p>
          </li>
          <li class="mt-6">
            <h3 class="fs-2">04<br />Team Player</h3>
            <p>Collaborates and shares ideas.</p>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="h2">About Me</h2>
        <p class="w-526 fs-1 mt-9">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
      </div>
    </div>
    <!-- contact me -->
    <section class="contact bg-dark pt-24 pb-24">
      <div class="container d-flex justify-between align-items-center">
        <h2 class="h2">contact me <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/trending_flat_black_24dp%201.png?raw=true" alt="arrow right"></h2>
        <ul class="d-flex align-items-center">
          <li><a href="#"><img class="image" width="162" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/discord.png?raw=true" alt="discord logo"></a></li>
          <li><a href="#"><img class="image" width="162" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/instagram.png?raw=true" alt="instagram logo"></a></li>
          <li><a href="#"><img class="image" width="162" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/message.png?raw=true" alt="message logo"></a></li>
        </ul>
      </div>
    </section>

    <!-- my projects -->
    <div class="container pt-40 pb-40 project">
      <h2 class="h2">My Projects</h2>
      <div class="d-flex mt-4">
        <img class="me-6" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2010.png?raw=true" alt="電腦擺放在桌上">
        <div>
          <div class="d-flex">
            <img class="me-6" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2015.png?raw=true" alt="電腦螢幕">
            <div class="d-flex flex-column justify-between">
              <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>
              <a class="btn bg-dark align-self-start" target="_blank" href="mailto:"
              >contact me
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward-white.png?raw=true"
                alt="arrow"
            /></a>
            </div>
          </div>
          <div class="mt-7 d-flex">
            <img class="me-6" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2014.png?raw=true" alt="手拿著手機">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2029.png?raw=true" alt="兩台電腦擺放桌上">
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
